.title-block {
    background-image: linear-gradient(violet ,#741491, #561979);
    color: goldenrod;
    text-shadow: 2px 2px #561979;

    font-family: 'Audiowide', Courier, monospace;

    height: 3em;
    padding-left: 1em;

    display: flex;
    align-items: center;
}

.nav-block {
    background-color: violet;
}

.bio-text {
    font-family: 'Courier New', Courier, monospace;
    background-color: #741491;
    color: white;
    padding: 1em;
}

.footer-block {
    background-image: linear-gradient(blueviolet, purple, #561979);
    color: white;

    font-family: 'Courier New', Courier, monospace;

    height: 5em;

    display: flex;
    justify-content: center;
    align-items: center;
}