<body id="bio-text">
    <i>(Image of Void greeting the viewer)</i>
    <p>
        Hey there, everyone!
    </p>
    <p>
        My name's <b>Astral!Void</b>, but you can also call me <b>Void</b>.<br>
        I'm a {{age}} year old <b>programmer</b> and <b>self-taught artist</b>, curious about the world.
    </p>
    <i>(Image of little Void looking starry-eyed at an old computer screen. The computer screen shows a video-game made by a kid.)</i>
    <p>
        Ever since I was a kid, my biggest dream was to <b>create my very own video-game</b>.
        One of my oldest memories was sitting at my parents' old PC, either dabbling with <b>GameMaker</b> or modding <b>Pokémon Emerald</b>
        without knowing what I was doing.
    </p>
    <i>(Image of little Void discovering Scratch coding blocks, just like Link in Legend of Zelda)</i>
    <p>
        But then, as I turned 15, I finally discovered... <b>programming</b>!<br>
        My very first games were created by <b>mashing code blocks together</b> (in <b>Scratch</b> and <b>Stencyl</b>) and I remember feeling
        so proud of putting so much effort into them :)<br>
        Click the picture below if you want to see:
    </p>
    <i>(Image of a very secret document titled "WARNING: CRINGE!!!". Void pokes his head out of the file, awkwardly grinning.)</i>
    <p>
        At around the same time, I also started <b>drawing</b>.<br>
        At first, I drew <b>fanart</b> of my favorite video-game characters, but that eventually evolved to me drawing
        <b>OCs and backgrounds</b>, some of which are also used in my game projects :)<br>
        (Check out the gallery! There's a lot of my work I'm proud of.)
    </p>
    <i>(Image of Void holding some of his creative stuff and smiling. He blushes a little bit.)</i>
    <p>
        Throughout the years, I've grown so much in a professional level (I can do some serious programming and drawing now!), 
        however <b>the desire to create</b> has always remained in my heart.<br>
    </p>
    <i>(Image of Baby looking out into the distance)</i>
    <p>
        Recently, I've also discovered my love for <b>storytelling</b>, <b>voice acting</b> and <b>character creation</b>.<br>
        Sometimes, I get to play <b>D&D</b> with my friends (both as a <b>player</b> and as a <b>Dungeon Master</b>) and it's fun to dive
        into a fantasy world :)
    </p>
    <p>
        That's all I have to say in here for now.<br>
        I suggest you go explore the other sections if you haven't. There's a ton of things I have to share!
    </p>
    <p>
        With all that said... I hope you enjoy your trip inside my webspace! :)
    </p>
    <i>(Image of Void floating inside the empty space.)</i>
</body>
<footer id="footer-text">
    Klejdi G, 2025
</footer>