/* big flexbox */
.profile-box {
    background-color: #741491;
    border-color: #561979;

    width: 90vw;
    height: fit-content;
    max-width: 800px;
    margin: 0 auto;

    border-style: solid;
    border-width: 5px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-window-top {
    width: 100%;
    background-image: linear-gradient(violet, blueviolet, purple);
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.window-button {
    background-image: linear-gradient(violet, blueviolet, purple);
    border-width: 1px;
    border-color: #561979;
    font-size: large;
    color: white;
    padding: 0.5em 0.5em;
    font-family: monospace;
}

/* profile flexbox */
.profile {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    height: fit-content;
    padding: 1%;
    gap: 1em;
}

.title {
    font-family:'Audiowide', Courier, monospace;
    color: goldenrod;
    text-shadow: 2px 2px #561979;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    align-content: center;
}

#profile-image {
    width: 50%;
    min-width: 200px;
    min-height: 200px;

    flex-grow: 2;

    border-radius: 10px;
}

#profile-description {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    flex-grow: 1;
    word-break: break-word;
    white-space: normal;
}

.dashboard {
    height: fit-content;
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    margin: 1%;
    gap: 1em;
}

.dashboard-button {
    background-image: linear-gradient(violet, blueviolet, purple);
    border-width: 1px;
    border-color: #561979;
    font-size: x-large;
    padding: 0.5em 1em;
    font-family: monospace;
}

.button-text:link, .button-text:visited {
    text-decoration: none;
    color: white;
}