/* big flexbox */
.profile-box {
    background-color: #741491;
    border-color: #561979;

    width: 90vw;
    height: fit-content;
    max-width: 800px;
    margin: 0 auto;

    border-style: solid;
    border-width: 5px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.window-title {
    display: flex;
    align-items: center;

    color: white;
    font-family: monospace;
    font-size: large;
    font-weight: bold;
}

.profile-window-top {
    width: 100%;
    background-image: linear-gradient(violet, blueviolet, purple);
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.window-button {
    background-image: linear-gradient(violet, blueviolet, purple);
    border-width: 1px;
    border-color: #561979;
    font-size: large;
    color: white;
    padding: 0.5em 0.5em;
    font-family: monospace;
}

.title {
    font-family:'Audiowide', Courier, monospace;
    color: goldenrod;
    text-shadow: 2px 2px #561979;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    align-content: center;
}